# Virtuelle Umgebung
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/


# DuckDB persistente Datenbankdatei
*.duckdb
*.duckdb.wal

# Streamlit
.streamlit/secrets.toml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
